{% extends "mem_base.html" %}  
{% block content %}

	      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">拒绝原因</li>
          </ol>
















<form class="layui-form" method="post" action="/mem_list/refuse_hand">
        {% csrf_token %}
        
    <input type=hidden name="apply_id" value="{{ apply_id }}">

  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">拒绝原因</label>
    <div class="layui-input-block">
        <textarea id="tt1" name="fail_reason" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
  </div>

  <!--<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">编辑器</label>
    <div class="layui-input-block">
      <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
    </div>
  </div>-->
  <div class="layui-form-item">
    <div class="layui-input-block">
        <input type="submit" class="layui-btn" value="提交拒绝">
    </div>
  </div>
</form>     
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
  {% endblock %}