{% extends "cover_base.html" %}  
{% block content %}
<div id="content-wrapper">

              <div class="container-fluid">

              <!-- Breadcrumbs-->                                                                                 
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">uniqsvr</a>
            </li>
            <li class="breadcrumb-item active">uniqsvr</li>
          </ol>
<Br/>
{{ rsp_html|safe }}

</div>
</div>    





  {% endblock %}
